body {
  /* background: #CAE0C4; */
  background: #7DCED7;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
  
}

.header {
  padding: 10px 0 0;
  height: 80px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: #20465C;
  color: white;
  text-align: center;
  font-size: 10px;
  line-height: 200%;
  font-family: Arial, Helvetica, sans-serif;
}

.header h1 {
  font-size: 24px;
  text-align: center;
  color: #D1DAD3;
  font-weight: bold;
  margin-bottom: 10px;
}

.header h2 {
  font-size: 18px; 
  color: #7DCED7;
  text-align: center;
}

.searchForm {
  margin-top: 80px;
  padding: 10px 0 20px 0;
  font-size: 16px;
}

.form-control, 
.btn {
  font-size: 16px;
}

.btn-success {
  background-color: #20465C;
  color: #D1DAD3;
}

.btn-success:hover {
  background-color: #3199CB;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #20465C;
  color: #D1DAD3;
  text-align: center;
  font-size: 12px;
  line-height: 250%;
  font-family: Arial, Helvetica, sans-serif;
}

.footer a {
  color: #D1DAD3;
  padding: 0 5px;
}

.my-select  {
  width: 270px;
}

.loader {
  background: url('/images/loader.gif');
  width: 274px;
  height: 230px;
  margin: 0 auto;
}

.flight-results {
  /* background: white; */
  padding: 0 20px 20px;
  border-radius: 10px;
  position: relative;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  border: 1px dotted #20465C;
}

.flight-results h2 {
  /* background-color: #20465C; */
  /* background: #7DCED7;
  color: #D1DAD3; */
  color: #20465C;

  text-align: center;
  padding: 20px 0;
  font-size: 26px;
  /* background: white; */
  border-radius: 10px;
  /* margin-bottom: 20px; */
  /* margin: 0 auto; */
  /* display: inline-block; */

}

.flight-results .card {
  cursor: pointer;
  margin-bottom: 20px;
  /* background: #7DCED7; */
}

.flight-results .flight-flag {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 10px;
  top: 10px;
  border: 1px dotted #D1DAD3;
  border-radius: 16px;
}

@media only screen and (max-width: 767px) {
  .flight-results .card-columns {
    column-count: 1;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .flight-results .card-columns {
    column-count: 2;
  }
}